.whiteBox {
@apply w-full md:w-[503px] grid place-items-center gap-7 pb-12 pt-32 justify-center relative;
height: 453px;

background: #FAFAFA;
border-radius: 35px;

filter: drop-shadow(0 0 166px rgba(153, 128, 230, 0.6)) drop-shadow(0 0 125px rgba(153, 128, 230, 0.1));
}

.button {
@apply px-20 py-3 text-white;

background: #665BE3;
border-radius: 45px;
}