.whiteBox {
  @apply w-full md:w-[503px] grid place-items-center pb-12 pt-24 justify-center relative;
  height: 453px;

  background: #fafafa;
  border-radius: 35px;

  filter: drop-shadow(0 0 166px rgba(153, 128, 230, 0.6))
    drop-shadow(0 0 125px rgba(153, 128, 230, 0.1));
}

.button {
  @apply px-20 py-3 text-white;

  background: #665be3;
  border-radius: 45px;
}
