.balckButton {
  background: #252628;
  box-shadow: 1px 4px 22px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.border {
  position: relative;
  box-sizing: border-box;

  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.PurpleButton {
  background: #665be3;
  box-shadow: inset 2px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
