.main {
  @apply rounded-3xl md:rounded-[52px] px-2 md:px-[128px];
  position: relative;
  height: clamp(64px, 36vw, 578px);

  background: #ffffff;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;
}