@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  color: #252628;
}

h1 {
  font-weight: 800;
  font-size: clamp(50px, 5vw, 70px);
  line-height: clamp(54px, 5vw, 85px);
}
h2 {
  font-weight: 900;
  font-size: clamp(44px, 5vw, 64px);
  line-height: clamp(46px, 5vw, 77px);
}
h3 {
  font-weight: 900;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: -0.019em;
}
h4 {
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;
}
h5 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
}
h6 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39.94px;
}

hr {
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button,
input[type="submit"] {
  &.small {
    @apply py-2;
    border-radius: 25px;
  }
  &.large {
    @apply py-5 px-9;
    border-radius: 45px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  &.border {
    @apply px-5 py-1.5;
    box-sizing: border-box;

    border: 1px solid #2f2929;
    border-radius: 25px;
  }
  &.yellow-border {
    @apply py-2 border-yellow bg-transparent;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;

    filter: drop-shadow(0px 0px 11px rgba(239, 222, 104, 0.15));
    color: #efde68;
  }
  &.rounded-gray {
    @apply flex items-center text-white;
    width: clamp(256px, 90%, 410px);
    height: 36px;
    padding: 0 24px;

    background: rgba(250, 250, 250, 0.07);
    border-radius: 20px;
  }
  &.flash {
    @apply py-2 px-6 ml-[14px] text-white rounded-[20px];

    &.purple {
      @apply bg-purple;
      box-shadow: -7px 0 #665be340, -14px 0 #665be324;
    }
    &.yellow {
      @apply bg-yellow text-black;
      box-shadow: -7px 0 #efde6840, -14px 0 #efde6824;
    }
    &.gray {
      box-shadow: -7px 0 #64646440, -14px 0 #64646424;
      @apply bg-gray-600;
    }
  }
}

textarea {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &.small-black {
    width: clamp(238px, 60vw, 348px);
    height: 175px;
    padding: 7px 13px;

    background: #1e1f21;
    color: #d9d9d9;
    border-radius: 4px;
  }
  &.rounded-gray {
    @apply flex items-center text-slate-50;
    width: clamp(256px, 90%, 410px);
    height: 128px;
    padding: 8px 24px;

    background: rgba(250, 250, 250, 0.07);
    border-radius: 20px;
  }
}

input,
select {
  &.white {
    @apply px-5;

    height: 62.77px;
    width: clamp(310px, 50vw, 410.52px);

    background: #fafafa;
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: rgba(70, 70, 70, 0.6);
  }
  &.small-black {
    width: 238px;
    height: 27px;

    padding-left: 13px;
    padding-bottom: 4px;

    background: #1e1f21;
    color: #d9d9d9;
    border-radius: 4px;
  }
  &.rounded-gray {
    @apply flex items-center text-white;
    width: clamp(256px, 90%, 410px);
    height: 36px;
    padding: 0 24px;

    background: rgba(250, 250, 250, 0.07);
    border-radius: 20px;
  }
  &.drop-shadow {
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  }
  &.drop-light {
    filter: drop-shadow(0 0 7px #d3d3d3);
  }
}

input.white::placeholder {
  color: #4b444399;
}

input.small-black::placeholder,
textarea.small-black::placeholder {
  @apply text-sm;
  color: rgba(255, 255, 255, 0.3);
}

.text-white > * {
  color: #fff;
}

.center {
  @apply flex items-center justify-center;
}

.scrollbar-none {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

input[type="file"] {
  @apply w-full;
  &.yellow-border::file-selector-button {
    @apply mr-4 py-2 border-yellow bg-transparent;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;

    filter: drop-shadow(0px 0px 11px rgba(239, 222, 104, 0.15));
    color: #efde68;
  }
}

.active-lights {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(102, 91, 227, 0.65);
}

.black-card {
  width: clamp(360px, 50vw, 920px);
  min-height: 678px;
  padding: 32px;

  background: #28292c;
  box-shadow: 0px 0px 52px -11px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

input.arrows-hidden::-webkit-outer-spin-button,
input.arrows-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].arrows-hidden {
  -moz-appearance: textfield;
}