.selection {
  width: 183px;
  height: 94px;

  background: #fff;
  border-radius: 25px;
}

.role {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;

  color: #1e1f21;

  text-align: center;
}
