@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  color: #252628;
}

h1 {
  font-weight: 800;
  font-size: clamp(50px, 5vw, 70px);
  line-height: clamp(54px, 5vw, 85px);
}
h2 {
  font-weight: 900;
  font-size: clamp(44px, 5vw, 64px);
  line-height: clamp(46px, 5vw, 77px);
}
h3 {
  font-weight: 900;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: -0.019em;
}
h4 {
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;
}
h5 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
}
h6 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39.94px;
}

button,
input[type="submit"] {
  &.small {
    @apply py-2;
    border-radius: 25px;
  }
  &.large {
    @apply py-5 px-9;
    border-radius: 45px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  &.border {
    @apply px-5 py-1.5;
    box-sizing: border-box;

    border: 1px solid #2f2929;
    border-radius: 25px;
  }
}

input,
select {
  &.white {
    @apply px-5;

    height: 62.77px;
    width: clamp(335px, 50vw, 410.52px);

    background: #fafafa;
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: rgba(70, 70, 70, 0.6);

    &::placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      color: #46464699;
    }
  }
  &.drop-shadow {
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  }
}

.text-white > * {
  color: #fff;
}

.center {
  @apply flex items-center justify-center;
}
